<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <title>Simple Markers</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>

      const markers = <%= raw @markers %>;
      function initMap() {

        // Create a bounding box object
        var bounds = new google.maps.LatLngBounds();
        var map = new google.maps.Map(document.getElementById('map'), {
        });

      for(let i=0; i < markers.length; i++) {
        var image = '/assets/marker-1.png';

        const marker = markers[i];

        if( marker.lat && marker.lng) {
          var marker_icon = new google.maps.Marker({
            position: {lat:marker.lat, lng:marker.lng},
            map: map,
            icon: image,
            title: marker.title
          });
          bounds.extend(marker_icon.position);
        } // if end
      } // for end

      map.fitBounds(bounds);

    }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuH_vm3pwVq6CoiDR1ZPM67DucLJh8hWg&callback=initMap">
    </script>
  </body>
</html>
