@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

@import "session.css";
@import "destinations.css";

body {
  text-align: center;
  background-image: url('/assets/leaves.png');
  font-size: 20px;
  font-family: 'Poppins', sans-serif !important;
}
.icon {
  width: 50px;
  height: auto;
}
.dest-col {
  border: 2px solid white;
}
.page-header {
  text-align: center;
  width: 100%;
  margin-bottom: 40px;
}
.card-icon {
  width: 20px;
  height: auto;
  float: right;
  color: teal;
}
.card-img-top {
  height: 250px;
}
.dest-list {
  margin: 30px !important;
}
.dest-margin {
  margin-top: 30px;
  margin-bottom: 120px;
}
.add-icon {
  text-decoration: none;
}
.card-style {
  width: 25rem;
}
.top-nav {
  color: blueviolet;
}
.bg-color {
background-image: linear-gradient(to left, #37ecba 0%, #72afd3 100%);
}
