@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

/* .add-button {
  width: 50px;
  height: 20px;
  align-content: flex-end;
} */
.list-names {
  list-style: none;
}
.plus-link {
  text-decoration: none;
  /* font-size: 20px; */
}
.dest-container {
  border: 2px solid black;
}
.budget-div {
  position: absolute;
  width: 300px;
  height: 200px;
  top: 10%;
  right: 0%;
}
.budget {
  position: absolute;
  z-index: 2;
  top: 25%;
  left: 31%;
  transform: rotate(-35deg);
  color: rgb(244, 237, 247);
  font-size: 16pt;
  /* font-family: 'Source Sans Pro', sans-serif; */
}
.price-img {
  width: 200px;
  height: auto;
}
