
.list-names {
  list-style: none;
}
.plus-link {
  text-decoration: none;
}
.dest-container {
  border: 2px solid black;
}
.budget-div {
  position: absolute;
  width: 300px;
  height: 200px;
  top: 10%;
  right: 0%;
}
.budget {
  position: absolute;
  z-index: 2;
  top: 25%;
  left: 31%;
  transform: rotate(-35deg);
  color: rgb(244, 237, 247);
  font-size: 16pt;
}
.price-img {
  width: 200px;
  height: auto;
}
