@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');

body {
  text-align: center;
  /* background-image: url('/assets/bg3.jpeg'); */
  /* background-size: cover; */
  background: linear-gradient(-70deg, #fa7c30 70%, rgba(0, 0, 0, 0) 30%), white;
  font-size: 20px;
  font-family: 'Alata', sans-serif;
}
.error {
  color: red;
}

.field_with_errors input {
  border: 3px solid red;
}
.field_with_errors label {
  color: red;
}
