
.field_with_errors input {
  border: 3px solid red;
}
.field_with_errors label {
  color: red;
}
.dest-divs {
  display:inline-flex;
  justify-content: center;
  background-color: rgb(74, 84, 136);
  width: 100px;
  height: 50px;
  padding: 15px;
  margin-right: 10px;
}
.explore-link {
  text-decoration: none;
}
