
<div class="dest-list">
  <h3> Here's list of attractions in <%= @destination.name %> </h3>
</div>


<div class="container">
  <div class="row">
    <div class="col">
      <div class="card card-style">
        <% @destination.attractions.each do |attraction| %>
          <ul class="list-names list-group list-group-flush">
            <li class="list-group-item">
              <i class="material-icons card-icon">
                <%= link_to 'add', attractions_path(attraction.id), :method => :post, class: 'plus-link' %>
              </i>
              <%= attraction.name %>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
