<h3> Here's list of attractions in <%= @destination.name %> </h3>

<% @destination.attractions.each do |attraction| %>
  <ul class='list-names'>
    <li>
      <%= link_to '+', attractions_path(attraction.id), :method => :post, class: 'plus-link' %>
      <%= attraction.name %>
    </li>
  </ul>
<% end %>
